.sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    background-color: #f4f7fa;
    width: 250px;
  }
  
  mat-nav-list a {
    color: #3f51b5;
    font-size: 16px;
  }
  
  mat-nav-list a:hover {
    background-color: #e3e7ff;
    color: #1a237e;
  }
  
  mat-list-item {
    display: flex;
    align-items: center;
  }
  
  mat-list-item mat-icon {
    margin-right: 10px;
  }
  