<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/admin/dashboard">Dashboard</a>
        <a mat-list-item routerLink="/admin/user-management">User Management</a>
        <a mat-list-item routerLink="/admin/product-management">Product Management</a>
        <a mat-list-item routerLink="/admin/settings">Settings</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  