<div class="user-management-container">
    <h2 class="title">Quản Lý Người Dùng</h2>
  
    <div class="user-list">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let user">{{ user.userId }}</td>
        </ng-container>
  
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Tên Người Dùng</th>
          <td mat-cell *matCellDef="let user">{{ user.username }}</td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>
  
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef>Họ và Tên</th>
          <td mat-cell *matCellDef="let user">{{ user.fullName }}</td>
        </ng-container>
  
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Số Điện Thoại</th>
          <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
        </ng-container>
  
        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef>Avatar</th>
          <td mat-cell *matCellDef="let user">
            <img *ngIf="user.avatar" [src]="user.avatar" alt="Avatar" class="avatar">
          </td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Trạng Thái</th>
          <td mat-cell *matCellDef="let user">{{ user.status === 1 ? 'Active' : 'Inactive' }}</td>
        </ng-container>
  
        <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef>Vai Trò</th>
            <td mat-cell *matCellDef="let user">
              <!-- Kiểm tra nếu roles có dữ liệu -->
              <span *ngIf="user.roles && user.roles.length > 0">
                <!-- Lặp qua các đối tượng trong mảng roles và hiển thị tên vai trò -->
                <span *ngFor="let role of user.roles" class="role">{{ role.name }}</span>
              </span>
              <span *ngIf="!user.roles || user.roles.length === 0">Chưa có vai trò</span>
            </td>
          </ng-container>
          
          
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Hành Động</th>
          <td mat-cell *matCellDef="let user">
            <button mat-button >Sửa</button>
            <button mat-button >Xóa</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  