.user-management-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

  // ✅ Tiêu đề trang
  .user-header {
    margin-bottom: 10px;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      display: block;
      color: #333;
    }

    .subtitle {
      font-size: 0.9rem;
      color: #666;
    }
  }

  // ✅ Gạch phân cách
  .divider {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-bottom: 15px;
  }

  .header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    background: #fffdfd;

    .search-field {
      flex: 1;
      margin-right: 15px;
    }

    button {
      margin-left: 10px;
    }
  }

  .custom-table {
    width: 100%;
    table-layout: fixed;

    th {
      background-color: #cfd6dd;
      color: rgb(67, 62, 62);
      font-weight: bold;
      text-align: left;
      padding: 12px;
      white-space: nowrap;
    }

    td {
      padding: 12px;
      border-bottom: 1px solid #ddd;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    .avatar-and-info {
      display: flex;
      align-items: center;
      gap: 10px;

      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .info {
        display: flex;
        flex-direction: column;
      }
    }

    .status-badge {
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
      color: white;
    }

    .active {
      background-color: green;
    }

    .inactive {
      background-color: orange;
    }

    .banned {
      background-color: red;
    }

    /* Icons */
    .icon-active {
      color: green;
    }

    .icon-inactive {
      color: orange;
    }

    .icon-banned {
      color: red;
    }

  }

  // ✅ Footer hiển thị tổng số người dùng
  .table-footer {
    text-align: right;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1rem;
    border-top: 1px solid #ccc;
  }

  mat-paginator {
    margin-top: 10px;
    background: white;
    border-radius: 8px;
  }
}