<div class="auth-container">
  <div class="auth-form">
    <h1 class="store-name">Serenity</h1>
    <div class="triangle">Clothes</div>

    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="loginRequest.username" name="username" required />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="loginRequest.password" name="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>

    <p class="or-login">Or login with:</p>
    <div class="social-login">
      <!-- Google Login Button -->
      <button mat-raised-button class="google-login">
        <i class="fa-brands fa-google"></i> Google
      </button>
    
      <!-- Facebook Login Button -->
      <button mat-raised-button class="facebook-login">
        <i class="fa-brands fa-facebook-f"></i> Facebook
      </button>
    </div>
    

    <p class="auth-action">
      Don't have an account? <a routerLink="/auth/register">Register</a>
    </p>
    <p class="forgot-password">
      <a routerLink="/auth/forgot-password">Forgot password?</a>
    </p>
  </div>
</div>